# Terraform
*.tfstate
*.tfstate.*
.crash
*.log
*.backup
.terraform/
.terraform.lock.hcl

# Local environment
*.env
*.tfvars
*.tfvars.json

# macOS and Windows files
.DS_Store
Thumbs.db

.terraform/
.terraform.lock.hcl